<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
<main>
    <section class="hero-banner" id="urltoevoegen"></section>
    <section class="hero-banner" id="projecten"></section>
    <div class="header-container">
        <div>
            <h1>URLS</h1>
            <p>Dit zijn de URLS van de partner van Vervoerregio Amsterdam.</p>
            <svg class="cubeimage" viewBox="0 0 34 31" fill="none" xmlns="http://www.w3.org/2000/svg%22%3E">
                <rect x="11.5" y="8.5" width="22" height="22" stroke="#E30059"/>
            <rect x="0.5" y="0.5" width="22" height="22" fill="white" stroke="#E30059" stroke-dasharray="2 2"/>
            </svg>
        </div>
    </div>
    <div class="partner-container">
        <% partnerData.urls.forEach(url=> { %>
            <div class="url-cube">
                <div>
                    <h2><%= url.website.titel %></h2>
                    <a target="_blank" href="<%= url.url %>"><%= url.url %></a>
                </div>
                <div class="url-knop">
                    <a class="url" href="/toolboard?id=<%= url.id %>"><ion-icon name="checkmark-outline"></ion-icon></a>
                </div>
            </div>
            <%})%>
    </div>
    
</main>
<%- include('./partials/foot') %>